apiVersion: v1
kind: ConfigMap
metadata:
  name: apt-cacher-ng-config
  namespace: apt-cache
  labels:
    app.kubernetes.io/name: apt-cacher-ng
data:
  acng.conf: |
    CacheDir: /var/cache/apt-cacher-ng
    LogDir: /var/log/apt-cacher-ng
    BindAddress: 0.0.0.0
    Port: 3142

    # Expiration: Remove unreferenced files after X days
    ExThreshold: 4

    # Repository remapping

    Remap-debrep: file:debian_mirrors /debian ; http://deb.debian.org/debian ; http://security.debian.org/debian-security
    Remap-uburep: file:ubuntu_mirrors /ubuntu ; http://archive.ubuntu.com/ubuntu ; http://security.ubuntu.com/ubuntu

    # Web interface
    ReportPage: acng-report.html

    # Logging
    VerboseLog: 1

    # Performance
    ReuseConnections: 1
    PipelineDepth: 255

    # allow HTTPS CONNECT for any host:443
    PassThroughPattern: ^.*:443$
