apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: apt-cache

resources:
- namespace.yaml
- configmap.yaml
- statefulset.yaml
- service.yaml
- pdb.yaml

labels:
- includeSelectors: true
  pairs:
    app.kubernetes.io/component: cache-server
    app.kubernetes.io/managed-by: kustomize
